body{
    
    margin: 0;
    padding: 0;
    background-color: #000000f8;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: linear-gradient(0grad,rgba(0, 17, 255, 0.849), rgb(0, 0, 0));
}

.navbar{
    width: 100%;
    box-shadow: 5px 5px 7px black;
    z-index: 1;
}


#navbarNavAltMarkup{
  
  margin-left: 70%;
  background-color: white;
  
   
}


.nav-link{
    display: flex; 
   
  
}

button .navbar-toggler{
    background-color: red;
}


.inicio, .sobremim, .skill, .projetos, .contatos{
    padding-top: 3%;
    
}

.apresentacao {
    text-align: left;
    padding: 15% 2% 10% 2%;
    width: 100%;
    height: 100%;
    
}

.apresentacao h1{
    color: rgba(247, 213, 18, 0.979);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5vw; /* Tamanho de fonte proporcional à largura da viewport */
    line-height: 1.1;
    word-break: break-word;
}
@media (max-width: 768px) {
  .apresentacao h1 {
    margin-top: 40%;
    margin-bottom: 10%;
    font-size: 11vw; /* Ajuste do tamanho da fonte para telas menores */
  }
}
@media (max-width: 576px) {
  .apresentacao h1 {
    margin-top: 40%;
    margin-bottom: 10%;
    font-size: 13vw; /* Ajuste do tamanho da fonte para telas muito pequenas */
  }
}
    


.imagens{
    /* padding: 0 0 4% 10%; */
}
.imagens img {
 width: 10%;
 padding: 1%;
}

hr {
    color: white;
    width: 100%;
    height: 1px;
    border-top: 1px solid white;
}

.titulo {
    color: rgba(247, 213, 18, 0.979);
    text-align: center;
    letter-spacing:3px;
    font-size: 50px;
    font-weight: bold;
}


/* SOBRE MIM */


.sobre-texto{
    background-color:rgba(245, 222, 179, 0.829);
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    padding: 4%;
    border-radius: 4%;
    text-align: center;
 
   
}

.minha-imagem{
    text-align: center;
    
}

.imagem-perfil{
    width: 25%;
    border-radius: 100%;
    margin: 4%;
}

/* -- FIM SOBRE MIM */

/* Nav SKills */

.skill {
    font-size: 100%;
    color: white;
    font-size: 26px;
}

.sub-skill{
    font-size: 25px;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 3%;
}

.soft-skills{
    text-align: center;   
    
    margin-top: 3%;
    letter-spacing: 1px;
    font-size: 80%;
}
/* -- FIM NAV Skills */



/* Nav Projetos */


.card-title{
    text-align: center;
    letter-spacing: 1px;
    font-size: 24px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.card-text{
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

.card-link{
    font-style: italic;
    letter-spacing: 1px;
    display: flex;
}

.img-fluid{
    margin-top: 70%;
    margin-bottom: 30%;
}

.imgun{
    margin-top: 30% !important;
    margin-bottom: 0 !important;
}

.imgdupli{
    margin-top: 0 !important;
    margin-bottom: 20%;
}

.card-link a{
    margin-right: 10px;
}

/* Cards */

.conj-div{
    display: flex;
}

.conj-icones{
    padding: 0;
    list-style: none;
}

.text-muted{
    display: flex;
}

.icon-programacao{
    width: 15%;
    margin-right: 10px;
}
/* ---------------- FIM PROJETOS ---- */


/* -------------- CONTANTOS  ---------  */

.contato {
    font-size: 100%;
}

.contato p {
    color: white;
    text-align: left;
    font-size: 20px;
    padding-top: 25%;
}


footer{
    height: 45%;
    background-color: black;
    text-align: center;
    color: white;

}

footer i {
    margin: 10px;
    font-size: 30px;
    color: white;
}



.social-icons{
    padding: 0.5%;
   
}